@charset "ISO-8859-1";

* {
	background-color : green;
}

.header {
	background-color: #4CAF50;
	padding: 15px 15px;
	text-decoration: none;
	border: none;
	color : white;
	
}

.button1 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin : auto;
	
}

#banner {
	font-size : 40px;
	text-align : center;
	margin : 0px;
	background-color: #4CAF50;
}
.btnBox {
	margin: auto;
	width: 40.3%;
	border: 3px solid #4CAF50;
	padding: 5px;
}

.button1:hover {
	background-color : #0C6C6A;
}

.nameBox {
	margin :auto;
	width : 100%;
	display: block;
	font-size : 30px;
}

.bio {
	color : white;
	text-align : center;
}